body {
  height: 100vh; }

input:valid {
  border-color: green; }

input:invalid {
  border-color: red; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

#root {
  padding-bottom: 30px;
  background-color: #F1F3F6; }
  #root .main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; }
    #root .main .header {
      display: flex;
      flex-direction: row;
      width: 80%;
      height: 50px;
      margin: 0 auto;
      margin-top: 20px;
      border-left: 3px solid #E3E5E8; }
      #root .main .header .header-left {
        margin-left: 10px;
        margin-right: 10px;
        color: #68728A; }
        #root .main .header .header-left h1 {
          font-size: 20px; }
      #root .main .header .header-right {
        height: 25px;
        width: 90%;
        border-bottom: 2px solid #E7E9EC; }
      #root .main .header .header-right-create {
        width: 84%; }
    #root .main .action {
      border: 1px solid #ECECEC;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      width: 80%;
      margin: 0 auto;
      margin-top: 30px;
      background-color: #FFFFFF; }
      #root .main .action p {
        width: 90%;
        margin: 20px auto 5px auto; }
      #root .main .action .button-div {
        width: 90%;
        margin: 20px auto 12px auto; }
        #root .main .action .button-div button {
          width: 10%;
          border: none;
          border-radius: 3px;
          background-color: #4973FF;
          color: #FDFDFF;
          padding: 12px 5px; }
      #root .main .action .actions {
        width: 90%;
        margin: 25px auto 0 auto; }
      #root .main .action .actions-form {
        display: flex;
        border: 1px solid #F4F4F4; }
        #root .main .action .actions-form form {
          width: 90%;
          display: flex;
          flex-direction: column;
          margin: 18px auto; }
          #root .main .action .actions-form form .form-top {
            width: 100%;
            display: flex;
            flex-wrap: wrap; }
            #root .main .action .actions-form form .form-top .forms {
              display: flex;
              flex-direction: column;
              width: 50%; }
              #root .main .action .actions-form form .form-top .forms .inputs {
                display: flex;
                min-height: 30px;
                margin: 12px 0;
                width: 80%;
                align-items: stretch; }
                #root .main .action .actions-form form .form-top .forms .inputs input {
                  width: 90%;
                  min-height: 30px;
                  padding: 0 0 0 5px;
                  background-color: transparent;
                  border-right: none;
                  border-top: 1px solid #E3E3E3;
                  border-bottom: 1px solid #E3E3E3;
                  border-left: 1px solid #E3E3E3;
                  border-radius: 3px 0 0 3px;
                  color: #cecece;
                  display: flex; }
                #root .main .action .actions-form form .form-top .forms .inputs input[type="date"]::-webkit-calendar-picker-indicator {
                  color: #000000;
                  right: 10%;
                  color: transparent;
                  background: url(https://png.icons8.com/small/64/cccccc/calendar.png) no-repeat;
                  background-size: cover;
                  background-position: 50% 50%;
                  width: 20px;
                  height: 20px; }
                #root .main .action .actions-form form .form-top .forms .inputs input[type="date"]:before {
                  color: lightgray;
                  content: attr(placeholder) ": ";
                  margin-right: 0.5em;
                  font-size: 16px; }
                #root .main .action .actions-form form .form-top .forms .inputs input[type="date"].full:before {
                  color: black;
                  content: "" !important; }
                #root .main .action .actions-form form .form-top .forms .inputs img {
                  width: 10%;
                  height: 30px;
                  right: 11%;
                  padding: 0;
                  background-color: #FFFFFF;
                  border-top: 1px solid #E3E3E3;
                  border-bottom: 1px solid #E3E3E3;
                  border-right: 1px solid #E3E3E3;
                  border-left: 1px solid #E3E3E3;
                  border-radius: 0 3px 3px 0;
                  z-index: 99; }
                #root .main .action .actions-form form .form-top .forms .inputs .number-button {
                  width: 8%;
                  min-height: 30px;
                  margin: 0;
                  padding: 0;
                  background-color: #FAFAFA;
                  border: 1px solid #E3E3E3; }
                #root .main .action .actions-form form .form-top .forms .inputs .data-input {
                  border-right: 1px solid #E3E3E3;
                  width: 100%; }
                #root .main .action .actions-form form .form-top .forms .inputs .numbe-input {
                  color: #686868; }
          #root .main .action .actions-form form .form-bottom {
            display: flex;
            flex-direction: column; }
            #root .main .action .actions-form form .form-bottom .forms {
              display: flex;
              flex-direction: column;
              width: 100%; }
              #root .main .action .actions-form form .form-bottom .forms label {
                margin: 12px 0; }
              #root .main .action .actions-form form .form-bottom .forms textarea {
                height: 50px;
                border: 1px solid #E3E3E3;
                border-radius: 3px;
                display: flex; }
      #root .main .action .actions-button {
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-end; }
        #root .main .action .actions-button a {
          width: 10%;
          border: none; }
        #root .main .action .actions-button button {
          width: 100%;
          border: none;
          border-radius: 3px;
          background-color: #4973FF;
          color: #FDFDFF;
          padding: 12px 5px; }
    #root .main .main-invoices-block {
      border: 1px solid #ECECEC;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      width: 80%;
      margin: 0 auto;
      margin-top: 30px;
      background-color: #FFFFFF; }
      #root .main .main-invoices-block p {
        width: 90%;
        margin: 20px auto 12px auto; }
      #root .main .main-invoices-block ul {
        padding: 0;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column; }
        #root .main .main-invoices-block ul li ul {
          margin: 0;
          display: flex;
          flex-direction: row; }
          #root .main .main-invoices-block ul li ul li {
            width: 22.5%;
            text-align: left;
            margin: 15px auto 14px 12px; }
          #root .main .main-invoices-block ul li ul .functional {
            width: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 10px; }
            #root .main .main-invoices-block ul li ul .functional button {
              width: 50%;
              margin: 0 auto;
              background: transparent;
              border: 1px solid #E3E3E3;
              height: 25px; }
              #root .main .main-invoices-block ul li ul .functional button img {
                width: auto;
                height: 90%; }
        #root .main .main-invoices-block ul li .top-ul {
          background-color: #F1F3F6;
          color: #848CA0; }
  #root .add-main {
    height: 95vh; }

@media screen and (max-width: 768px) {
  #root .main .action .button-div button {
    font-size: 10px; }
  #root .main .main-invoices-block ul li ul .functional button {
    padding: 0; }
  #root .main .main-invoices-block ul li ul li {
    font-size: 10px; }
  #root .main .action .actions-form form .form-top .forms .inputs img {
    width: 30px; }
  #root .main .main-invoices-block ul li ul .functional button img {
    width: 15px;
    height: 80%; } }
